{% extends 'templates/base.html'%}

{% block navbar %}{% endblock %}
{% block content%}
<main class="h-100">
    <div class="game-title-bar mb-1 d-flex justify-content-center">
        <h1 class="title m-x mt-4">{{ _("Battle Ships") }}</h1>
    </div>
    <hr class="m-0">
    <div class="d-flex justify-content-center mt-20">
        <div>
            <div class="game-board container">
        
            </div>
        </div>
    </div>
    <div class="results-block mt-10 d-flex justify-content-center">

    </div>
    <div class="show-results-block mt-10 d-flex justify-content-center">
    </div>
    <div class="w-100 mb-10" style="bottom: 0px; position: absolute;">
        <div class="container d-flex justify-content-center">
            <div>
                <a href="https://frappeframework.com/?source=website_footer" style="color: white;">{{ _("Build on Frappe") }}</a>
            </div>
        </div>
    </div>
</main>
<script>

    let shipImageUrl = "/images/ship.png"
    let attackImageUrl = "/images/attack.png"

    let maxShips = 3;
    let maxAttacks = 3;

    let shipsPlaced = 0;
    let attacksPlaced = 0;

    let gameBoard;

    let fetchSessionPlayerId = getSessionPlayerId;

    frappe.ready(async function() {
        gameBoard = $(".game-board");
        hideResultsBlock();
        
        fetchSessionPlayerId().then(() => {
            loadBoard();
        })
    });
    
    async function loadBoard() {
        let boardSize = (await fetchBoardSize()).message;
        let items = (await fetchFormation()).message;
        
        loadBlankBoard(boardSize);
        placeItemsOnBoard(items);

        let result = (await checkAndFetchBattleResults()).message;

        if (result != 'No Result') {
            showResultsBlock(result);
        } else {
            boardInterationHandler();
        }
    }

    async function checkAndFetchBattleResults() {
        return frappe.call({
            method: 'battle_ships.www.battle.index.check_and_fetch_battle_results',
            args: {
                player_id: await getSessionPlayerId()
            }
        })
    }

    function loadBlankBoard(boardSize) {
        let maxRows = boardSize[0];
        let maxColumns = boardSize[1];

        for(var i = 0; i < maxRows; i++) {
            let row = $("<div class='row'>");
            for(var j = 0; j < maxColumns; j++) {
                let rowItem = $(`
                    <div class="board-row-item row-item frappe-card m-1" style="height: 50px; width: 50px"></div>
                `);
                rowItem.attr('row', i);
                rowItem.attr('col', j);
                rowItem.attr('item', 'Blank')
                row.append(rowItem);
            }
            gameBoard.append(row);
        }
    }

    function placeItemsOnBoard(items) {
        let itemKeys = ['ship_coordinates', 'attack_coordinates'];

        for (var i = 0; i < itemKeys.length; i++) {
            for (var j = 0; j < items[itemKeys[i]].length; j++) {
                let coordinate = items[itemKeys[i]][j];
                let itemName = (itemKeys[i] == 'ship_coordinates' ? 'Ship' : 'Attack');
                placeItemWithCoordinates(coordinate[0], coordinate[1], itemName);
            }
        }
    }

    function boardInterationHandler() {
        $(".board-row-item").click(function() {
            let rowIndex = $(this).attr('row');
            let colIndex = $(this).attr('col');

            let curItem = $(this).attr('item');

            if (curItem == 'Blank') {
                if (shipsPlaced < maxShips) {
                    placeItem(this, 'Ship');
                } else {
                    curItem = 'Ship';
                }
            }
            if (curItem == 'Ship') {
                if(attacksPlaced < maxAttacks) {
                    placeItem(this, 'Attack');
                } else {
                    curItem = 'Attack';
                }
            }
            if (curItem == 'Attack') {
                placeItem(this, 'Blank');
            }
        });
    }

    function placeItemWithCoordinates(row, col, itemName) {
        holder = gameBoard.find(`[row=${row}][col=${col}]`);
        placeItem(holder, itemName, false);
    }
    
    function placeItem(holder, itemName, upload=true) {
        let prevItem = $(holder).attr('item');

        $(holder).empty();
        $(holder).attr('item', itemName)
        if (['Attack', 'Ship'].includes(itemName)) {
            $(holder).append($(`<img src=${itemName == 'Attack' ? attackImageUrl : shipImageUrl}>`))
            itemName == 'Attack' ? attacksPlaced++ : shipsPlaced++;
        }

        if (prevItem == 'Attack') {
            attacksPlaced--;
        } else if(prevItem == 'Ship') {
            shipsPlaced--;
        }

        if (upload) {
            if (attacksPlaced == maxAttacks && shipsPlaced == maxShips) {
                uploadFormation();
            }
        }
    }

    async function uploadFormation() {
        frappe.call({
            method: 'battle_ships.www.battle.index.upload_formation',
            args: {
                player_id: await getSessionPlayerId(),
                formation: getItems()
            },
            callback: function(r) {
                if (r.message == 'Season Paused') {
                    frappe.show_alert({
                        message:__('Formation cannot be updated, Game season is paused'),
                    });
                } else {
                    frappe.show_alert({
                        message:__('Formation updated'),
                    });
                }
            }
        })
    }

    function getItems() {
        let shipElements = gameBoard.find(`[item='Ship']`);
        let attackElements = gameBoard.find(`[item='Attack'`);

        let shipCoordinates = [];
        let attackCoordinates = [];

        for (var i = 0; i < shipElements.length; i++) {

            let row = parseInt($(shipElements[i]).attr('row'));
            let col = parseInt($(shipElements[i]).attr('col'));

            shipCoordinates.push([row, col]);
        }

        for (var i = 0; i < attackElements.length; i++) {
            let row = parseInt($(attackElements[i]).attr('row'));
            let col = parseInt($(attackElements[i]).attr('col'));

            attackCoordinates.push([row, col]);
        }

        return {
            shipCoordinates: shipCoordinates,
            attackCoordinates: attackCoordinates
        }
    }

    async function getSessionPlayerId() {
        let playerId = '';
        if (localStorage['sessionPlayerId']) {
            playerId = localStorage['sessionPlayerId'];
        } else {
            await frappe.call({
                method: 'battle_ships.www.battle.index.create_session_player',
                callback: function(r) {
                    localStorage['sessionPlayerId'] = r.message;
                    playerId = r.message;
                }
            })
        }
        return playerId
    }

    async function fetchFormation() {
        return frappe.call({
            method: 'battle_ships.www.battle.index.fetch_formation',
            args: {
                player_id: await getSessionPlayerId()
            }
        })
    }

    async function fetchBoardSize() {
        return frappe.call({
            method: 'battle_ships.www.battle.index.fetch_board_size'
        })
    }

    function showResultsBlock(result) {
        let block = $(".show-results-block");
        block.empty();

        block.append(`
            <div>
                <h3>{{ _("The result of the last battle is here") }}</h3>
                <div role="button" class="show-results-button frappe-card d-flex justify-content-center mt-4" style="background-color: rgb(255, 170, 11);">
                    <h2 class="pt-2">
                        {{ _("See Result") }}
                    </h2>
                </div>
            </div>
        `);

        $(".show-results-button").click(function() {
            showResults(result);
        });
    }

    function showResults(result) {
        hideResultsBlock();

        let block = $(".results-block");
        block.empty();

        block.append(`
            <div>
                <h1 class="display-4">Your Score : ${result.score}</h1>
                <div role="button" class="play-again-button frappe-card d-flex justify-content-center mt-4">
                    <h2 class="pt-2">
                        {{ _("Play Again") }}
                    </h2>
                </div>
            </div>
        `);

        showResultOnBoard(result);
    }

    function showResultOnBoard(result) {
        let attachedCoordinates = result.attacked_coordinates;
        let bestShipCoordinates = result.best_ship_coordinates;

        for (var i = 0; i < attachedCoordinates.length; i++) {
            let row = attachedCoordinates[i][0]
            let col = attachedCoordinates[i][1]
            holder = gameBoard.find(`[row=${row}][col=${col}]`);
            let blockItem = $(holder).attr('item');
            if (blockItem == "Ship") {
                holder.css('background-color', 'rgb(236, 60, 60)');
            } else {
                holder.css('background-color', 'rgb(253, 143, 100)');
            }
        }

        for (var i = 0; i < bestShipCoordinates.length; i++) {
            let row = bestShipCoordinates[i][0]
            let col = bestShipCoordinates[i][1]
            holder = gameBoard.find(`[row=${row}][col=${col}]`);
            let blockItem = $(holder).attr('item');
            if (blockItem == "Ship") {
                holder.css('background-color', 'rgb(60, 105, 255)');
            } else {
                holder.css('background-color', 'rgb(149, 251, 255)');
            }
        }

    }

    function hideResultsBlock() {
        let block = $(".show-results-block");
        block.empty();
    }
</script>
<style>
    .title {
        color: rgb(223, 223, 223);
    }
    .board-row-item {
        background-color:rgb(58, 58, 58);
    }
    body {
        background-color: rgb(0, 0, 0);
    }
    h3 {
        color: rgb(223, 223, 223);
    }
    h1 {
        color: rgb(223, 223, 223);
    }
    .play-again-button {
        background-color: rgb(132, 0, 255);
    }
    .play-again-button h2 {
        color: rgb(223, 223, 223);
    }
</style>
{% endblock %}
{% block footer %}{% endblock %}