{% extends 'templates/base.html'%}

{% block navbar %}{% endblock %}
{% block content%}
<main class="h-100">
    <div class="game-title-bar mb-1 d-flex justify-content-center">
        <h1 class="title m-x mt-4">{{ _("Battle Ships") }}</h1>
    </div>
    <hr class="m-0">
    <div class="d-flex justify-content-center mt-20">
        <div>
            <div class="game-board container">
        
            </div>
        </div>
    </div>
    <div class="w-100 mb-10" style="bottom: 0px; position: absolute;">
        <div class="container d-flex justify-content-center">
            <div>
                <a href="https://frappeframework.com/?source=website_footer" style="color: white;">Build on Frappe</a>
            </div>
        </div>
    </div>
</main>
<script>

    let shipImageUrl = "/images/ship.png"
    let attackImageUrl = "/images/attack.png"

    let maxRows = 5;
    let maxColumns = 5;

    let maxShips = 3;
    let maxAttacks = 3;

    let shipsPlaced = 0;
    let attacksPlaced = 0;

    let gameBoard;

    let fetchSessionPlayerId = getSessionPlayerId;

    frappe.ready(function() {
        gameBoard = $(".game-board");
        
        fetchSessionPlayerId().then(() => {
            loadBoard();
        })

    });

    function loadBoard() {
        fetchFormation().then((r) => {
            let items = r.message;
            loadBlankBoard();
            placeItemsOnBoard(items);
            boardInterationHandler();
        })
    }

    function loadBlankBoard() {
        for(var i = 0; i < maxRows; i++) {
            let row = $("<div class='row'>");
            for(var j = 0; j < maxColumns; j++) {
                let rowItem = $(`
                    <div class="board-row-item row-item frappe-card m-1" style="height: 50px; width: 50px"></div>
                `);
                rowItem.attr('row', i);
                rowItem.attr('col', j);
                rowItem.attr('item', 'Blank')
                row.append(rowItem);
            }
            gameBoard.append(row);
        }
    }

    function placeItemsOnBoard(items) {
        let itemKeys = ['ship_coordinates', 'attack_coordinates'];

        for (var i = 0; i < itemKeys.length; i++) {
            for (var j = 0; j < items[itemKeys[i]].length; j++) {
                let coordinate = items[itemKeys[i]][j];
                let itemName = (itemKeys[i] == 'ship_coordinates' ? 'Ship' : 'Attack');
                placeItemWithCoordinates(coordinate[0], coordinate[1], itemName);
            }
        }
    }

    function boardInterationHandler() {
        $(".board-row-item").click(function() {
            let rowIndex = $(this).attr('row');
            let colIndex = $(this).attr('col');

            let curItem = $(this).attr('item');

            if (curItem == 'Blank') {
                if (shipsPlaced < maxShips) {
                    placeItem(this, 'Ship');
                } else {
                    curItem = 'Ship';
                }
            }
            if (curItem == 'Ship') {
                if(attacksPlaced < maxAttacks) {
                    placeItem(this, 'Attack');
                } else {
                    curItem = 'Attack';
                }
            }
            if (curItem == 'Attack') {
                placeItem(this, 'Blank');
            }
        });
    }

    function placeItemWithCoordinates(row, col, itemName) {
        holder = gameBoard.find(`[row=${row}][col=${col}]`);
        placeItem(holder, itemName, false);
    }
    
    function placeItem(holder, itemName, upload=true) {
        let prevItem = $(holder).attr('item');

        $(holder).empty();
        $(holder).attr('item', itemName)
        if (['Attack', 'Ship'].includes(itemName)) {
            $(holder).append($(`<img src=${itemName == 'Attack' ? attackImageUrl : shipImageUrl}>`))
            itemName == 'Attack' ? attacksPlaced++ : shipsPlaced++;
        }

        if (prevItem == 'Attack') {
            attacksPlaced--;
        } else if(prevItem == 'Ship') {
            shipsPlaced--;
        }

        if (upload) {
            if (attacksPlaced == maxAttacks && shipsPlaced == maxShips) {
                uploadFormation();
            }
        }
    }

    async function uploadFormation() {
        frappe.call({
            method: 'battle_ships.www.battle.index.upload_formation',
            args: {
                player_id: await getSessionPlayerId(),
                formation: getItems()
            },
            callback: function() {
                frappe.show_alert({
                    message:__('Formation updated'),
                });
            }
        })
    }

    function getItems() {
        let shipElements = gameBoard.find(`[item='Ship']`);
        let attackElements = gameBoard.find(`[item='Attack'`);

        let shipCoordinates = [];
        let attackCoordinates = [];

        for (var i = 0; i < shipElements.length; i++) {

            let row = parseInt($(shipElements[i]).attr('row'));
            let col = parseInt($(shipElements[i]).attr('col'));

            shipCoordinates.push([row, col]);
        }

        for (var i = 0; i < attackElements.length; i++) {
            let row = parseInt($(attackElements[i]).attr('row'));
            let col = parseInt($(attackElements[i]).attr('col'));

            attackCoordinates.push([row, col]);
        }

        return {
            shipCoordinates: shipCoordinates,
            attackCoordinates: attackCoordinates
        }
    }

    async function getSessionPlayerId() {
        let playerId = '';
        if (localStorage['sessionPlayerId']) {
            playerId = localStorage['sessionPlayerId'];
        } else {
            await frappe.call({
                method: 'battle_ships.www.battle.index.create_session_player',
                callback: function(r) {
                    localStorage['sessionPlayerId'] = r.message;
                    playerId = r.message;
                }
            })
        }
        return playerId
    }

    async function fetchFormation() {
        return frappe.call({
            method: 'battle_ships.www.battle.index.fetch_formation',
            args: {
                player_id: await getSessionPlayerId()
            }
        })
    }

</script>
<style>
    .title {
        color: rgb(223, 223, 223)
    }
    .board-row-item {
        background-color:rgb(58, 58, 58);
    }
    body {
        background-color: rgb(0, 0, 0);
    }
</style>
{% endblock %}
{% block footer %}{% endblock %}